.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
  padding: 14px 21px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.container h4 {
  margin-top: 0px;
}

.container h2 {
  margin-bottom: 0px;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 50px;
}

.editButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}