.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
}

.image{
  height: 65vh;
  width: auto;
}

