.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.container {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  margin-top: 15px;
}

.container input {
  margin: 7px 0px 14px 0px;
}

.container input, button { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.container div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: white;
  font-weight: 600;
  background: #0965CE;
  margin: 21px 0px 0px 0px;
}

input:focus {
  outline: none;
  border: 1px solid #0965CE;
}

.select{
  height: 5vh;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding-left: 12px;
}

@media only screen and (max-width: 912px) {
  .container section {
    width: 100%;
    justify-content: flex-start;
  }
  .container section:first-child {
    display: none;
  }
  .container form {
    min-width: 100%;
  }
}