.newExe{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
}


.newExeBtn{
  margin: 10px 0 0 0;
}

.newExeLabel {
  margin-right: 10px;
}


